* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  background: #ffff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background: #F2F2F2; }

.home-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .home-item > * {
    position: relative; }

.home-title {
  color: #727272;
  font-size: 36px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding: 31px 30px 14px 58px;
  position: absolute;
  left: -80px;
  bottom: 80px;
  text-transform: uppercase;
  border-bottom: 4px solid #727272; }

.home-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .home-img:before {
    content: '';
    position: absolute; }
  .home-img img {
    position: relative; }

.home-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .home-menu-wrapper:before {
    content: '';
    width: 2px;
    height: 285px;
    background: #727272;
    margin: 0 auto 56px; }
  .home-menu-wrapper:after {
    content: '';
    width: 2px;
    height: 285px;
    background: #727272;
    margin: 56px auto 0; }
  .home-menu-wrapper .box-variable-wrap {
    display: none; }

.home-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .home-menu a {
    font-size: 18px;
    color: #333333;
    text-transform: uppercase;
    padding: 10px 10px 11px; }
    .home-menu a:hover {
      font-weight: bold; }
  .home-menu li {
    border-bottom: 1px solid #727272;
    position: relative; }
    .home-menu li:last-child {
      border: none; }
  .home-menu .active {
    font-weight: bold;
    border: none; }
    .home-menu .active:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: -webkit-gradient(linear, left top, right top, from(#d59a6c), color-stop(19%, #c4824a), color-stop(41%, #fadaa0), color-stop(69%, #fffac9), to(#e68700));
      background: linear-gradient(to right, #d59a6c 0%, #c4824a 19%, #fadaa0 41%, #fffac9 69%, #e68700 100%); }

.home-left {
  padding: 155px 0 122px 111px; }
  .home-left .home-item__line {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 1227px;
    height: 60px;
    width: 100%;
    background: linear-gradient(269.97deg, #727272 46.89%, rgba(114, 114, 114, 0) 83.43%);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .home-left .home-img {
    max-width: 340px;
    margin: 0 70px 0 0; }
    .home-left .home-img:before {
      width: 1155px;
      height: 958px;
      background: url("../img/decor2.svg") no-repeat center;
        background-size: contain;
      top: -34px;
      right: -365px; }

.logo2 {
  max-width: 347px;
  width: 100%; }

.logo1 {
  max-width: 333px;
  width: 100%;
  margin: 0 25px auto 0; }

.home-right .home-img {
  max-width: 464px; }

.home-item-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2; }

.box-variable-wrap {
  background: -webkit-gradient(linear, left top, right top, from(#d59a6c), color-stop(19%, #c4824a), color-stop(41%, #fadaa0), color-stop(69%, #fffac9), to(#e68700));
  background: linear-gradient(left, #d59a6c 0%, #c4824a 19%, #fadaa0 41%, #fffac9 69%, #e68700 100%);
  max-width: 278px;
  width: 100%;
  padding: 2px;
  border-radius: 5px;
  margin: 0 auto 125px; }

.box-variable {
  border-radius: 5px;
  background: #F2F2F2; }
  .box-variable a {
    border-radius: 5px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
    color: #333333;
    height: 48px;
    text-transform: uppercase; }
  .box-variable li {
    width: 100%;
    position: relative; }
    .box-variable li:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: -webkit-gradient(linear, left top, right top, from(#d59a6c), color-stop(19%, #c4824a), color-stop(41%, #fadaa0), color-stop(69%, #fffac9), to(#e68700));
      background: linear-gradient(to right, #d59a6c 0%, #c4824a 19%, #fadaa0 41%, #fffac9 69%, #e68700 100%); }
    .box-variable li:last-child:before {
      display: none; }
  .box-variable .active {
    border-radius: 5px; }
    .box-variable .active a {
      background: #333333;
      font-weight: bold;
      z-index: 1;
      position: relative; }
      .box-variable .active a span {
        background: -webkit-linear-gradient(-91deg, #d59a6c 0%, #c4824a 19%, #fadaa0 41%, #fffac9 69%, #e68700 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
    .box-variable .active:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      z-index: 0;
      border-radius: inherit;
      background: -webkit-gradient(linear, left top, right top, from(#d59a6c), color-stop(19%, #c4824a), color-stop(41%, #fadaa0), color-stop(69%, #fffac9), to(#e68700));
      background: linear-gradient(left, #d59a6c 0%, #c4824a 19%, #fadaa0 41%, #fffac9 69%, #e68700 100%); }

.home-right {
  padding: 44px 115px 108px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .home-right .home-title {
    left: auto;
    right: -82px;
    top: 82px;
    bottom: auto;
    border: none;
    padding: 26px 57px 23px 35px; }
    .home-right .home-title:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 2px;
      background: -webkit-gradient(linear, right top, left top, from(#45ACAF), color-stop(13.71%, #9BAEBC), color-stop(29.95%, #BB2B83), color-stop(38.07%, #BA2E84), color-stop(47.21%, #DE8A93), color-stop(60.2%, #F9F301), color-stop(73.33%, #E68700), to(rgba(230, 135, 0, 0)));
      background: linear-gradient(270deg, #45ACAF 0%, #9BAEBC 13.71%, #BB2B83 29.95%, #BA2E84 38.07%, #DE8A93 47.21%, #F9F301 60.2%, #E68700 73.33%, rgba(230, 135, 0, 0) 100%);
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .home-right .home-img:before {
    background: url("../img/decor1.svg") no-repeat center;
      background-size: contain;
    width: 1106px;
    height: 958px;
    top: -194px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .home-right .home-item__line {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 60px;
    max-width: 1311px;
    width: 100%;
    background: -webkit-gradient(linear, right top, left top, from(#45ACAF), color-stop(10.61%, #9BAEBC), color-stop(23.18%, #BB2B83), color-stop(29.47%, #BA2E84), color-stop(36.54%, #DE8A93), color-stop(46.59%, #F9F301), color-stop(56.76%, #E68700), color-stop(77.4%, rgba(230, 135, 0, 0)));
    background: linear-gradient(270deg, #45ACAF 0%, #9BAEBC 10.61%, #BB2B83 23.18%, #BA2E84 29.47%, #DE8A93 36.54%, #F9F301 46.59%, #E68700 56.76%, rgba(230, 135, 0, 0) 77.4%); }

.slick-arrow {
  width: 6px;
  height: 12px;
  z-index: 1;
  opacity: 1;
  background: transparent; }
  .slick-arrow:hover, .slick-arrow:focus {
    background: transparent; }
    .slick-arrow:hover svg, .slick-arrow:focus svg {
      stroke-width: 2px; }
  .slick-arrow:before {
    display: none; }

.slick-next {
  right: calc(50% - 145px); }

.slick-prev {
  left: calc(50% - 145px); }

.box-variable-container {
  z-index: 2;
  width: 100%; }

.box-variable-container__close {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 27px;
  height: 27px;
  margin: 0 0 -10px auto; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1920px) {
  .home-left .home-img {
    max-width: 280px; } }

@media only screen and (max-width: 1820px) {
  .home-left .home-img {
    margin: 0 20px 0 0; }
    .home-left .home-img:before {
      width: 1000px;
      height: 800px; }
  .logo2 {
    max-width: 300px; }
  .home-right .home-img {
    max-width: 400px; }
    .home-right .home-img:before {
      width: 1000px;
      height: 800px; } }

@media only screen and (max-width: 1700px) {
  .logo1 {
    max-width: 250px; }
  .home-right .home-img {
    max-width: 300px; }
    .home-right .home-img:before {
      width: 750px;
      height: 520px;
      top: -50px; }
  .home-left .home-img {
    max-width: 250px; }
    .home-left .home-img:before {
      width: 800px;
      height: 600px;
      bottom: -40px;
      right: -250px; }
  .logo2 {
    max-width: 198px; }
  .home-title {
    font-size: 24px;
    bottom: 49px;
    left: -49px;
    padding: 15px 30px 12px 17px; }
  .home-right .home-title {
    padding: 14px 21px 13px 25px;
    top: 50px;
    right: -49px; }
  .home-left .home-item__line {
    max-width: 641px;
    height: 40px; }
  .home-right .home-item__line {
    max-width: 663px;
    height: 40px; }
  .home-menu:after, .home-menu:before {
    height: 218px; } }

@media only screen and (max-width: 1400px) {
  .home-left {
    padding: 88px 14px 56px;
    position: relative; }
    .home-left .box-variable-wrap {
      display: none; }
    .home-left .home-img {
      margin: 0 0 98px;
      max-width: 223px; }
      .home-left .home-img:before {
        width: 637px;
        height: 541px;
        right: -212px;
        top: 26px; }
  .home-item-col {
    margin: 0 0 0 -20px;
    position: inherit; }
  .home-menu-wrapper:after {
    margin: 0 auto;
    height: 98px; }
  .home-menu-wrapper:before {
    margin: 0 auto 40px;
    height: 218px; }
  .home-menu-wrapper .box-variable-wrap {
    display: block;
    margin: 19px auto 0; }
  .logo1 {
    max-width: 204px;
    margin: 0 -80px auto 0;
    z-index: 1; }
  .home-right {
    padding: 40px 55px 73px 10px; }
    .home-right .home-img {
      max-width: 283px;
      margin: 155px 0 0; }
      .home-right .home-img:before {
        width: 630px;
        height: 546px;
        top: -137px;
        left: -124px;
        -webkit-transform: none;
                transform: none; }
  .box-variable-container {
    width: auto; } }

@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 860px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .home-right {
    padding: 90px 96px 36px 102px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .home-right .home-title {
      top: 75px;
      padding: 9px 15px 29px; }
    .home-right .home-img {
      margin: 0;
      max-width: 219px; }
      .home-right .home-img:before {
        width: 451px;
        height: 389px;
        top: -35px;
        right: -130px;
        left: auto; }
    .home-right .home-item__line {
      bottom: auto;
      top: 0;
      width: 100%;
      max-width: none;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      background: -webkit-gradient(linear, right top, left top, from(#45ACAF), color-stop(13.71%, #9BAEBC), color-stop(29.95%, #BB2B83), color-stop(38.07%, #BA2E84), color-stop(47.21%, #DE8A93), color-stop(60.2%, #F9F301), color-stop(73.33%, #E68700), to(rgba(230, 135, 0, 0)));
      background: linear-gradient(270deg, #45ACAF 0%, #9BAEBC 13.71%, #BB2B83 29.95%, #BA2E84 38.07%, #DE8A93 47.21%, #F9F301 60.2%, #E68700 73.33%, rgba(230, 135, 0, 0) 100%); }
  .home-item {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .logo1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 45px;
    max-width: 190px; }
  .home-menu-wrapper {
    position: relative;
    width: 100%;
    -webkit-transform: none;
            transform: none;
    left: 0; }
    .home-menu-wrapper:before, .home-menu-wrapper:after {
      display: none; }
    .home-menu-wrapper .box-variable-wrap {
      display: none; }
  .home-menu {
    width: 100%;
    display: block;
    border-top: 1px solid #727272;
    border-bottom: 1px solid #727272; }
    .home-menu .active {
      font-weight: normal; }
      .home-menu .active:before {
        display: none; }
    .home-menu li {
      border: none;
      margin: 0 auto;
      width: 287px; }
    .home-menu a {
      padding: 14px 10px 13px;
      text-align: center; }
    .home-menu .slick-current a {
      font-weight: bold; }
  .home-left {
    padding: 26px 142px 50px 59px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .home-left .home-img {
      margin: 0;
      max-width: 174px;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
      .home-left .home-img:before {
        width: 420px;
        height: 348px;
        top: 32px;
        right: auto;
        bottom: auto;
        left: -107px; }
    .home-left .home-item__line {
      max-width: 100%;
      top: auto;
      bottom: 0;
      background: linear-gradient(270.24deg, #727272 3.82%, rgba(114, 114, 114, 0) 99.79%);
      -webkit-transform: none;
              transform: none; }
    .home-left .home-title {
      bottom: 80px;
      padding: 31px 27px 8px 12px;
      border-width: 2px; }
    .home-left .box-variable-wrap {
      display: block;
      margin: 0 34px 0 0;
      width: 189px; }
  .logo2 {
    max-width: 218px; }
  .box-variable-container {
    position: absolute;
    top: 8px;
    right: 244px; }
  .home-item-col {
    position: initial; }
  .box-variable a {
    height: 42px; }
  .box-variable-container__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 650px) and (max-width: 735px) {
  .home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .home-item {
    width: 50%; }
  .home-right {
    padding: 18px 71px 52px 36px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .home-right .home-item__line {
      width: 50%;
      top: auto;
      bottom: 0;
      background: -webkit-gradient(linear, right top, left top, from(#45ACAF), color-stop(13.71%, #9BAEBC), color-stop(29.95%, #BB2B83), color-stop(38.07%, #BA2E84), color-stop(47.21%, #DE8A93), color-stop(60.2%, #F9F301), color-stop(73.33%, #E68700), to(rgba(230, 135, 0, 0)));
      background: linear-gradient(270deg, #45ACAF 0%, #9BAEBC 13.71%, #BB2B83 29.95%, #BA2E84 38.07%, #DE8A93 47.21%, #F9F301 60.2%, #E68700 73.33%, rgba(230, 135, 0, 0) 100%);
      -webkit-transform: none;
              transform: none; }
    .home-right .home-img {
      max-width: 155px; }
      .home-right .home-img:before {
        width: 289px;
        height: 250px;
        top: -35px;
        left: -87px; }
    .home-right .home-title {
      padding: 10px 15px 13px;
      top: 40px; }
  .logo1 {
    max-width: 106px;
    margin: 0 auto -10px 0; }
  .box-variable-container {
    bottom: 72px;
    right: 32px;
    top: auto;
    z-index: 1; }
  .home-left {
    padding: 53px 51px 52px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: initial; }
    .home-left .home-img {
      max-width: 131px;
      -webkit-box-ordinal-group: inherit;
          -ms-flex-order: inherit;
              order: inherit; }
      .home-left .home-img:before {
        width: 313px;
        height: 260px;
        top: 0;
        left: auto;
        right: -66px; }
    .home-left .home-item__line {
      width: 50%;
      top: 0;
      bottom: auto;
      right: auto;
      left: 0;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      background: linear-gradient(270.24deg, #727272 3.82%, rgba(114, 114, 114, 0) 99.79%); }
    .home-left .home-title {
      font-size: 20px;
      padding: 13px 10px 9px 17px;
      border-width: 2px;
      bottom: 35px;
      left: -35px; }
  .logo2 {
    max-width: 93px;
    margin: 0 0 20px 13px; }
  .home-menu-wrapper {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: auto; }
    .home-menu-wrapper:before, .home-menu-wrapper:after {
      height: 100px;
      width: 1px; }
    .home-menu-wrapper:after {
      margin: 11px auto 0; }
    .home-menu-wrapper:before {
      margin: 0 auto 11px; }
    .home-menu-wrapper:before, .home-menu-wrapper:after {
      display: inline-block; }
    .home-menu-wrapper .box-variable-wrap {
      width: 0; }
  .home-menu {
    width: 100%;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .home-menu li {
      border-bottom: 1px solid #727272;
      width: auto; }
    .home-menu .active:before {
      width: 100%;
      display: block; }
    .home-menu a {
      font-size: 16px;
      padding: 10px 13px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%; } }

@media only screen and (max-width: 650px) {
  .home-menu li {
    width: 259px; }
  .slick-prev {
    left: calc(50% - 130px); }
  .slick-next {
    right: calc(50% - 130px); }
  .box-variable-container {
    display: none; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 575px) {
  .logo2 {
    max-width: 139px; }
  .home-left {
    padding: 11px 56px 51px 16px; }
    .home-left .home-img {
      max-width: 153px; }
      .home-left .home-img:before {
        width: 369px;
        height: 306px;
        top: 30px;
        left: -92px; }
  .home-item-col {
    margin: 50px 0 0; }
  .home-right {
    padding: 77px 16px 36px 44px; }
    .home-right .home-img {
      max-width: 188px; }
      .home-right .home-img:before {
        width: 396px;
        height: 342px;
        top: -22px;
        right: -74px; }
  .logo1 {
    max-width: 136px; } }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
