@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px)
  .home-left .home-img
    max-width: 280px


@media only screen and (max-width : 1820px)
  .home-left .home-img
    margin: 0 20px 0 0
    &:before
      width: 1000px
      height: 800px

  .logo2
    max-width: 300px

  .home-right .home-img
    max-width: 400px
    &:before
      width: 1000px
      height: 800px

@media only screen and (max-width : 1700px)
  .logo1
    max-width: 250px

  .home-right .home-img
    max-width: 300px
    &:before
      width: 750px
      height: 520px
      top: -50px

  .home-left .home-img
    max-width: 250px
    &:before
      width: 800px
      height: 600px
      bottom: -40px
      right: -250px

  .logo2
    max-width: 198px

  .home-title
    font-size: 24px
    bottom: 49px
    left: -49px
    padding: 15px 30px 12px 17px

  .home-right .home-title
    padding: 14px 21px 13px 25px
    top: 50px
    right: -49px

  .home-left .home-item__line
    max-width: 641px
    height: 40px

  .home-right .home-item__line
    max-width: 663px
    height: 40px

  .home-menu:after, .home-menu:before
    height: 218px

@media only screen and (max-width : 1400px)
  .home-left
    padding: 88px 14px 56px
    position: relative
    .home-img
      margin: 0 0 98px
      max-width: 223px
      &:before
        width: 637px
        height: 541px
        right: -212px
        top: 26px

  .home-item-col
    margin: 0 0 0 -20px
    position: inherit

  .home-menu-wrapper
    &:after
      margin: 40px auto 0
      height: 218px
    &:before
      margin: 0 auto 40px
      height: 218px


  .logo1
    max-width: 204px
    margin: 0 -80px auto 0
    z-index: 1

  .home-right
    padding: 40px 55px 73px 10px
    .home-img
      max-width: 283px
      margin: 155px 0 0
      &:before
        width: 630px
        height: 546px
        top: -137px
        left: -124px
        transform: none

  .box-variable-container
    position: absolute
    width: 274px
    right: -210px
    bottom: 97px

  .box-variable-wrap
    margin: 0


@media only screen and (max-width : 1200px)
  .phone
    margin: 0 50px 0 65px

  .main-home__content
    max-width: 530px
    padding: 0

  .main-home__slider-wrapper
    max-width: 377px

  .main-home__slider-wrapper:after
    right: -72px
    top: 105px

  .main-home__slider-wrapper:before
    width: 823px
    height: 631px
    right: -14px

  .help-img
    max-width: 565px
    margin: -55px 0 0 -66px
    &:before
      width: 1100px

  .help-content
    padding: 89px 0 45px
    width: 100%
    max-width: 484px
    margin: 0 0 0 auto

  .list-characteristics
    margin: 30px 0 34px

  .product-slider-previews
    padding: 0 33px

  .products-slider-wrapper
    max-width: 482px

  .products-information-wrapper
    width: calc(100% - 482px)

  .document-wrapper
    padding: 26px 2px 0 0

  .reviews-item__left
    width: 256px

  .reviews-item__right
    width: calc(100% - 256px)

  .main-menu
    right: 22px
    top: 40px
    li
      &:last-child
        margin: 0

  .main-logo
    margin: 4px 0 66px 25px

  .main-home__content .box-text
    padding: 0

  .btn-360
    right: 18px
    bottom: 46px

  .main-home__box
    margin: 0 64px 0 auto

  .main-home__slider .slick-prev
    left: -50px

  .main-home__slider .slick-next
    right: 18px

  .tabs__caption:before
    width: calc(100% + 40px)
    left: -20px

  .tabs__caption li
    padding: 22px 5px

  .tabs__content
    padding: 46px 0 0

  .products-information-wrapper
    padding: 0 0 0 20px

  .product-slider-previews
    padding: 0 39px

  .product-slider-previews .slick-prev
    left: 7px

  .product-slider-previews .slick-next
    right: 7px

  .document-wrapper h3
    margin: 0 0 18px

  .reviews
    margin: 34px 0 0
    padding: 34px 0 30px

  .reviews-preview
    padding: 0
    h4
      margin: 0 0 6px

  .review-view
    margin: 34px 0 0

  .shops .form-reviews
    margin: 0 -20px -39px auto
    max-width: 500px
    padding: 54px 44px 83px

  .form
    h3
      margin: 0 auto 29px
    label
      margin: 0 0 33px

  .consent
    margin: 5px auto 23px

  .shops-content
    width: calc(100% - 500px)
    padding: 46px 0 60px 0
    h2
      margin: 0 0 20px
    h3
      margin: 0 0 27px

@media only screen and (max-width : 1100px)
  .help-content
    h2
      margin: 0 0 23px
    p
      margin: 0 0 41px
    .form
      margin: 0 auto
      max-width: 320px
      flex-direction: column
      align-items: center
    .form-group
      max-width: none
      label
        &:last-child
          order: -1
    .consent
      text-align: center
      margin: 0 auto 35px

  .container
    padding: 0 20px

@media only screen and (max-width : 992px)
  .product-slider__box
    height: 393px
    padding: 36px 80px

  .products-slider-wrapper
    max-width: 354px

  .products-information-wrapper
    width: calc(100% - 354px)

  .product-slider-previews
    padding: 0 11px

  .product-slider-previews__box
    width: 103px
    height: 103px
    .img
      padding: 10px 27px

  .product-slider
    margin: 0 0 18px

  .tabs__content
    padding: 55px 0 0

  .reviews
    margin: 42px 0 0
    padding: 36px 0 34px

  .reviews-preview
    padding: 0 15px

  .shops
    .form-reviews
      max-width: 470px
      padding: 40px 55px 65px

  .shops-content
    width: calc(100% - 470px)

  .help-img
    max-width: 642px
    margin: -46px 0 0 -202px
    &:before
      width: 900px
      background-position: center bottom

  .help-content
    max-width: 470px
    margin: 0 0 0 -100px

  .tabs__caption
    li
      width: auto
      padding: 17px 10px

/* Small Devices, Tablets */
@media only screen and (max-width : 950px)
  .main-logo
    max-width: 158px
    margin: 0 0 59px


  h1
    font-size: 40px
    text-align: left
    margin: 0

  .title-description
    margin: 33px 0 0
    text-align: left
    font-size: 20px

  .main-home__content
    max-width: 330px
    .box-text
      display: none

  .main-menu li
    margin: 0 30px 0 0

  .main-home__info
    display: block
    margin: 16px 0 50px
    padding: 0 0 0 30px

  .main-home__slider-wrapper
    max-width: 340px
    padding: 80px 0 28px
    &:before
      width: 800px
      height: 100%
      bottom: auto
      top: 50%
      right: auto
      left: 50%
      transform: translate(-50%,-50%)
      -webkit-background-size: 100%
      background-size: 100%
    &:after
      width: 485px
      height: 420px

  .main-home__box
    max-width: 231px
    margin: 0 98px 0 auto

  .main-home__slider .slick-prev
    left: -44px

  .main-home__slider .slick-next
    right: 53px


  .catalog
    margin: 35px 0 30px

  .vargaz
    .main-home__box
      max-width: 177px
    .main-logo
      max-width: 195px
      margin: 46px auto 70px

@media only screen and (max-width : 860px)
  header .container
    padding: 0 40px

  .home
    flex-direction: column-reverse
    align-items: flex-start

  .home-right
    padding: 90px 96px 36px 102px
    align-items: flex-end
    .home-title
      top: 75px
      padding: 9px 15px 29px
    .home-img
      margin: 0
      max-width: 219px
      &:before
        width: 451px
        height: 389px
        top: -35px
        right: -130px
        left: auto
    .home-item__line
      bottom: auto
      top: 0
      width: 100%
      max-width: none
      transform: rotate(180deg)
      background: linear-gradient(270deg, #45ACAF 0%, #9BAEBC 13.71%, #BB2B83 29.95%, #BA2E84 38.07%, #DE8A93 47.21%, #F9F301 60.2%, #E68700 73.33%, rgba(230, 135, 0, 0) 100%)

  .home-item
    width: 100%
    justify-content: space-between

  .logo1
    order: 1
    margin: 0 0 45px
    max-width: 190px

  .home-menu-wrapper
    position: relative
    width: 100%
    transform: none
    left: 0
    &:before, &:after
      display: none
    .box-variable-wrap
      display: none

  .home-menu
    width: 100%
    display: block
    border:
      top: 1px solid #727272
      bottom: 1px solid #727272
    .active
      font-weight: normal

      &:before
        display: none
    li
      border: none
      margin: 0 auto
      width: 287px
    a
      padding: 14px 10px 13px
      text-align: center
    .slick-current
      a
        font-weight: bold

  .home-left
    padding: 26px 142px 50px 59px
    align-items: flex-start
    .home-img
      margin: 0
      max-width: 174px
      order: 1
      &:before
        width: 420px
        height: 348px
        top: 32px
        right: auto
        bottom: auto
        left: -107px
    .home-item__line
      max-width: 100%
      top: auto
      bottom: 0
      background: linear-gradient(270.24deg, #727272 3.82%, rgba(114, 114, 114, 0) 99.79%)
      transform: none
    .home-title
      bottom: 80px
      padding: 31px 27px 8px 12px
      border-width: 2px
    .box-variable-wrap
      display: block
      margin: 0 34px 0 0
      width: 189px

  .logo2
    max-width: 218px

  .box-variable-container
    position: absolute
    top: 32px
    right: 287px
    width: 189px

  .home-item-col
    position: initial

  .box-variable a
    height: 42px

  .phone
    margin: 0 0 0 40px
    font-size: 24px

  .btn-burger
    display: flex

  main
    .main-menu
      display: none

  .main-logo
    margin: 16px 0 59px 0

  .main-home__content
    padding: 0 0 0 20px

  .main-home
    padding: 104px 0 0

  .main-home__slider-wrapper
    padding: 48px 0 28px
    &:after
      top: 15px
      right: -59px

  .btn-360
    right: 52px
    bottom: 27px

  .tabs__caption
    .slick-active
      background: transparent
      span
        color: #000
        background: transparent
        -webkit-text-fill-color: inherit
        -webkit-background-clip: inherit
        font-weight: normal
      &:before, &:after
        display: none
    li
      margin: 2px 0 0
      width: 239px
    .slick-prev
      left: calc(50% - 330px)
    .slick-next
      right: calc(50% - 330px)
    .slick-arrow
      top: 44%
    .slick-active
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3)
      &:before
        display: inline-block
        content: ''
        position: absolute
        left: -2px
        bottom: 0
        width: calc(100% + 4px)
        height: calc(100% + 4px)
        border-radius: inherit
        background: -webkit-linear-gradient(-91deg, rgba(213, 154, 108, 1) 0%, rgba(196, 130, 74, 1) 19%, rgba(250, 218, 160, 1) 41%, rgba(255, 250, 201, 1) 69%, rgba(230, 135, 0, 1) 100%)
      &:after
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: #333333
        border-radius: inherit
        display: inline-block
      span
        font-size: 18px
        font-weight: bold
        background: -webkit-linear-gradient(-91deg, rgba(213, 154, 108, 1) 0%, rgba(196, 130, 74, 1) 19%, rgba(250, 218, 160, 1) 41%, rgba(255, 250, 201, 1) 69%, rgba(230, 135, 0, 1) 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        width: 100%
        height: 100%


  .vargaz
    .tabs__caption

      .slick-active
        &:before
          display: none
        span
          color: #fff
          background: transparent
          -webkit-text-fill-color: inherit
          -webkit-background-clip: inherit


  .products-information-wrapper
    .name-product, .line-wrapper, .document-wrapper
      display: none


  .product-title-mobile
    display: block
    margin: 0 0 41px
    width: 100%

  .list-characteristics
    margin: 0 0 54px

  .name-product
    margin: 0 0 22px
    padding: 0 0 0 20px

  .line-wrapper
    padding: 0 0 0 18px

  .document-mobile
    width: 100%
    display: block

  .document-wrapper
    padding: 36px 56px 0 18px
    h3
      margin: 0 0 24px

  .main-home__content
    max-width: 323px

  .reviews-item__left
    width: 193px

  .reviews-item__right
    width: calc(100% - 193px)

  .reviews-title
    padding: 29px 25px

  .review-view
    margin: 11px 0 0

  .consent
    margin: 5px auto 33px

  .help-img
    margin: -60px 0 0 -224px

  .shops
    h2
      max-width: none
    .container
      padding: 0
    .form-reviews
      max-width: none
      margin: 0
      padding: 53px 20px 65px
      h3
        margin: 0 auto 35px
      h5
        max-width: 407px
        margin: 0 auto 35px
      label
        max-width: 415px
        margin: 0 auto 35px

  .shops-content
    padding: 43px 40px 56px
    width: 100%
    h3
      margin: 0 0 32px

  .help-content
    padding: 45px 0 83px
    margin: 0 0 0 -159px
    max-width: 460px
    h2
      margin: 0 0 83px
    p
      max-width: 349px
      margin: 0 0 41px auto
    .form
      max-width: 343px
      margin: 0 0 0 auto

  header
    padding: 38px 0

  .product-slider-previews .slick-next
    right: 0

  .product-slider-previews .slick-prev
    left: 0


@media only screen and (min-width : 650px) and (max-width: 736px)
  .main-home__content
    padding: 0

  .main-home__info
    padding: 0
    margin: 2px 0 67px

  .main-home__box
    margin: 0 88px 0 auto

  .main-home__slider-wrapper
    padding: 59px 0 28px

  .main-home__slider .slick-prev
    left: -32px

  .main-home__slider .slick-next
    top: 35px

  .btn-360
    right: 35px

  .catalog
    margin: 18px 0 34px

  .name-product, .line-wrapper
    padding: 0

  .products-slider-wrapper
    max-width: 339px

  .list-characteristics
    margin: 0 0 37px

  .document-wrapper
    padding: 36px 52px 0 0

  .reviews-preview
    padding: 0

  .shops-content
    padding: 43px 30px 56px

  .shops-content h2
    margin: 0 0 27px

  .help-content
    margin: 0 0 0 -183px

  .help-content .consent
    max-width: 300px

  header .container
    padding: 0 22px

  .home
    flex-direction: row
    align-items: stretch

  .phone
    margin: 0 0 0 60px

  .home-item
    width: 50%

  .home-right
    padding: 18px 71px 52px 36px
    align-items: flex-end
    justify-content: flex-start
    flex-direction: column-reverse
    .home-item__line
      width: 50%
      top: auto
      bottom: 0
      background: linear-gradient(270deg, #45ACAF 0%, #9BAEBC 13.71%, #BB2B83 29.95%, #BA2E84 38.07%, #DE8A93 47.21%, #F9F301 60.2%, #E68700 73.33%, rgba(230, 135, 0, 0) 100%)
      transform: none
    .home-img
      max-width: 155px
      &:before
        width: 289px
        height: 250px
        top: -35px
        left: -87px
    .home-title
      padding: 10px 15px 13px
      top: 40px

  .logo1
    max-width: 106px
    margin: 0 auto -10px 0

  .box-variable-container
    bottom: 62px
    right: 59px
    top: auto
    z-index: 1

  .home-left
    padding: 53px 51px 52px
    justify-content: flex-start
    align-items: flex-end
    position: initial
    .home-img
      max-width: 131px
      order: inherit
      &:before
        width: 313px
        height: 260px
        top: 0
        left: auto
        right: -66px
    .home-item__line
      width: 50%
      top: 0
      bottom: auto
      right: auto
      left: 0
      transform: rotate(180deg)
      background: linear-gradient(270.24deg, #727272 3.82%, rgba(114, 114, 114, 0) 99.79%)
    .home-title
      font-size: 20px
      padding: 13px 10px 9px 17px
      border-width: 2px
      bottom: 35px
      left: -35px

  .logo2
    max-width: 93px
    margin: 0 0 20px 13px

  .home-menu-wrapper
    position: absolute
    transform: translate(-50%,-50%)
    left: 50%
    top: 50%
    width: auto
    &:before, &:after
      height: 100px
      width: 1px
    &:after
      margin: 11px auto 0
    &:before
      margin: 0 auto 11px
    &:before, &:after
      display: inline-block
    .box-variable-wrap
      width: 0

  .home-menu
    width: 100%
    border: none
    display: flex
    flex-direction: column
    align-items: center
    li
      border-bottom: 1px solid #727272
      width: auto
    .active
      &:before
        width: 100%
        display: block
    a
      font-size: 16px
      padding: 10px 13px
      box-sizing: border-box
      width: 100%



@media only screen and (max-width : 730px)
  .help-img
    max-width: 610px

@media only screen and (max-width : 700px)
  header
    padding: 24px 0 21px
    .container
      flex-direction: column
      align-items: flex-end
      justify-content: flex-start
      padding: 0 20px

  .btn-burger
    position: absolute
    left: 20px
    top: 50%
    transform: translate(0,-50%)

  .phone
    margin: 11px 0 0

  .main-home__content
    padding: 0

    h1, .title-description
      display: none

  .main-home__info
    display: flex
    flex-direction: column
    margin: 44px 0 59px
    text-align: center
    padding: 0
    .box-text
      max-width: 300px
      margin: 0 auto
      line-height: 19px
    h1, .title-description
      display: block
      order: -1
      text-align: center

  .main-logo
    max-width: 140px
    margin: 6px 0 0px -6px

  .main-home__slider-wrapper
    padding: 0
    max-width: none
    &:before
      width: 414px
      height: 582px
      background: url("../img/slider-overlay-mob.svg") no-repeat center
        size: contain
      left: auto
      right: -15px
      transform: translate(0,-50%)
    &:after
      width: 485px
      height: 420px
      top: -77px
      right: -123px

  .main-home__box
    max-width: 217px
    margin: 0 auto

  .btn-360
    right: 0
    bottom: -10px

  .main-home__slider .slick-next
    right: 0

  .main-home__slider .slick-prev
    left: 0

  .catalog
    margin: 29px 0 38px

  .line-wrapper
    padding: 0

  .title-description
    margin: 20px auto 28px

  .tabs__caption li
    width: 229px

  .tabs__caption .slick-prev
    left: calc(50% - 150px)

  .tabs__caption .slick-next
    right: calc(50% - 150px)

  .name-product
    text-align: center
    padding: 0

  .tabs__content
    padding: 50px 0 0

  .line-wrapper
    flex-direction: column
    align-items: center

  .rating-wrapper
    margin: 0 0 20px

  .product-title-mobile
    margin: 0 0 24px


  .shops-content
    padding: 30px 20px 28px
    h2
      max-width: 300px
      margin: 0 0 15px
    h3
      margin: 0 0 30px

  .help-img
    max-width: 420px
    margin: -50px auto 0


  .help-content
    max-width: none
    margin: 0
    padding: 33px 0 98px
    h3
      max-width: 375px
      margin: 0 0 39px
    p
      margin: 0 0 35px
    .form
      margin: 0

  .vargaz
    .main-home__box
      max-width: 192px
    .main-logo
      margin: 20px 0 0
      max-width: 118px
    .main-home__slider-wrapper:before
      background: url("../img/slider-overlay-mob2.svg") no-repeat center
        size: contain
    .main-home__slider-wrapper:after
      width: 501px
      height: 417px
      right: -85px
      top: -37px

  .help-content h2
    margin: 0 0 39px

@media only screen and (max-width : 650px)
  .home-menu li
    width: 259px

  .home
    .slick-prev
      left: calc(50% - 130px)
    .slick-next
      right: calc(50% - 130px)

  .box-variable-container
    bottom: auto
    right: auto
    left: 50%
    transform: translate(-50%,0)


@media only screen and (max-width : 620px)
  .products-slider-wrapper
    max-width: 374px
    margin: 0 auto

  .product-slider__box
    height: 469px
    padding: 42px 70px

  .products-information-wrapper
    width: 100%
    padding: 0
    margin: 43px 0 0

  .list-characteristics
    max-width: none
    margin: 0 0 42px

  .product-slider-previews__box
    width: 118px
    height: 118px

  .product-slider-previews
    padding: 0

  .product-slider-previews .slick-next
    right: -14px

  .product-slider-previews .slick-prev
    left: -14px

  .document-wrapper
    padding: 37px 10px 0 0
    h3
      text-align: center
      margin: 0 auto 25px

  .document-wrapper__box

    flex-direction: column
    align-items: center


  .reviews
    padding: 40px 0 52px
    margin: 37px 0 0

  .reviews-preview
    padding: 0
    h3
      text-align: center

  .review-view
    text-align: center
    margin: -20px auto 0

  .reviews-preview .box-text:before
    height: 144px


@media only screen and (max-width : 575px)
  .logo2
    max-width: 139px

  .home-left
    padding: 11px 56px 51px 16px
    .home-img
      max-width: 153px
      &:before
        width: 369px
        height: 306px
        top: 30px
        left: -92px

  .home-item-col
    margin: 50px 0 0

  .home-right
    padding: 77px 16px 36px 44px
    .home-img
      max-width: 188px
      &:before
        width: 396px
        height: 342px
        top: -22px
        right: -74px

  .logo1
    max-width: 136px

  .reviews-title
    text-align: center
    padding: 21px 0 9px

  .reviews-item
    padding: 15px 15px 20px
    display: none
    &:nth-child(-n+5)
      display: none
    &:nth-child(-n+3)
      display: flex

  .reviews-item__left
    width: 100%
    margin: 0 0 37px

  .reviews-item__right
    width: 100%
    margin: 0

  .name-user
    margin: 20px 0

  .btn-load
    margin: 46px auto 0

  .form-reviews
    margin: 61px 0 auto
    position: relative
    padding: 38px 20px 73px
    h3
      margin: 0 auto 26px
    label
      margin: 0 0 22px

  .form-group
    flex-direction: column
    align-items: flex-start
    label
      max-width: none
      margin: 0 0 22px

  .list-city
    column-count: 2

  .shops .form-reviews
    padding: 49px 22px 73px
    h3
      margin: 0 auto 28px

  .home-menu a
    font-size: 16px

  .document-wrapper__box
    width: 100%
    margin: 0 0 36px

  .document-wrapper
    padding: 37px 0 0
    align-items: center
    justify-content: center


@media only screen and (max-width : 400px)
  .product-slider-previews__box
    width: 80px
    height: 80px
    margin: 0 auto

  .product-slider-previews
    padding: 0 10px
    .slick-prev
      left: 0
    .slick-next
      right: 0

  .help-content h2
    font-size: 40px

  header
    font-size: 14px

  .phone
    font-size: 20px

  .main-home
    padding: 100px 0 0
